body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;

  --margin-size: 35px;
  --orange-card: hsl(31, 77%, 52%);
  --blue-card: hsl(184, 100%, 22%);
  --green-card: hsl(179, 100%, 13%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 93%);
  overflow: hidden;
  position: relative;
}

.background__img {
  position: absolute;
  z-index: 1;
}

.background__img_left {
  left: -10px;
}

.background__img_right-bottom {
  right: -1%;
  bottom: -2%;
}

.blue-circles {
  height: 150px;
}

.blue-ring {
  width: 10%;
}

.waves-pink {
  top: 20%;
  right: -1%;
  width: 15%;
}

.two-slashes {
  left: 25%;
  bottom: -2%;
  width: 4%;
  opacity: 50%;
}

.L-pink {
  top: -15%;
  right: 40%;
  width: 3%;
}

.frame {
  background-color: hsl(0, 0%, 95%);
  overflow: hidden;
  width: 85%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1vh 2vh 3vh rgb(209, 209, 209);
  position: absolute;
  z-index: 2;
}

.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  list-style-type: none;
  border-radius: 10px;
}

.wrapper__sedans {
  background-color: var(--orange-card);
}

.wrapper__suvs {
  background-color: var(--blue-card);
}

.wrapper__luxury {
  background-color: var(--green-card);
}

.card {
  width: 270px;
  height: 440px;
  padding: var(--margin-size);
  font-family: "Lexend Deca", sans-serif;
  color: #eef3f2;
  position: relative;
}

.card__icon {
  width: 4em;
}

.card__name {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  margin-top: 26px;
}

.card__description {
  font-size: 16px;
  line-height: 1.3;
  width: 12rem;
  margin-top: 26px;
}

.btn {
  padding: 13px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 1.5rem;
  border: 2px hsl(0, 0%, 95%) solid;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.card__btn {
  position: absolute;
  bottom: var(--margin-size);
  left: var(--margin-size);
}

.card__btn_orange {
  color: var(--orange-card);
}

.card__btn_blue {
  color: var(--blue-card);
}

.card__btn_green {
  color: var(--green-card);
}

.card__btn:active {
  background-color: rgba(0, 0, 0, 0);
  color: #eef3f2;
}