* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  /* здесь будет белый фон с тенью */
}

.car-types {
  display: flex;
  justify-content: center;
  border-radius: 2%;
  overflow: hidden;
  list-style-type: none;
}

.car-types__sedans {
  background-color: #df8622;
}

.car-types__suvs {
  background-color: #01686f;
}

.car-types__luxury {
  background-color: #013e3f;
}

.card {
  width: 250px;
  height: 440px;
  padding: 35px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #eef3f2;
}

.card__name {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.card__description {
  font-size: 0.9em;
  line-height: 1.7;
}

.card__button {
  height: 50px;
  width: 120px;
  margin: 3rem 0px 0px 0px;
  border-radius: 1.5rem;
  border: 2px #eef3f2 solid;
}

.card__button:active {
  background-color: rgba(0, 0, 0, 0);
  color: #eef3f2;
}

li {
  list-style-type: none;
  margin: 15px 0px;
}

button p {
  font-size: 1.1rem; /* хз, как сделать буквы прозрачными */
}
